body{
	background: #d5d8ac;
}
#wrapper {
	max-width: 1200px;
	margin: auto;
}
header {
	padding: 20px 0;
}
nav li, header li{
	display: inline;
}
nav a{
	background: #8cd28c;
	padding: 1em;
}
header ul{
	margin-left: 100px;
}
.figure{
	width: 500px;
	float: left;
	margin-bottom: 10px;

}
th{
	background: #8cd28c;
}
td{
	border-bottom: 2px solid #95caa2;
}
#table{
	margin: 90px;
	float: right;
	width: 600px;
}

#data-client{
	background: #e0dd78;
	margin-left: 40px;
	width: 500px;
}
#info, .info-text{
	width: 500px;
	margin-left: 40px;
}
#contacts{
	float: left;
}


footer {
	background: #5baf28;
}
#footer-logo{
	background: #dce8d5;
}
#table, #figure, #contacts, #feedback, footer div{
	display: inline-block;
}

