body{
	background: #d5d8ac;
}
#table-and-figure{
	height: 820px;
}
#table-done-search{
	margin: 90px;
	float: right;
	width: 600px;
}
.figure{
	width: 500px;
	float: left;
	margin-bottom: 10px;
}
#buyit{
	float: left;
}
#contacts{
	float: left;
}
header {
	background: #d4f9d4;
}
header li{
	display: inline;
}
header nav a{
	background: #8cd28c;
	padding: 1em;
}
header ul{
	margin-left: 100px;
}

th{
	background: #8cd28c;
}
td{
	border-bottom: 2px solid #95caa2;
}
#table-and-figure h2{
	text-align: center;
}

#data-client{
	background: #e0dd78;
	margin-left: 40px;
	width: 500px;
}
#info, .info-text{
	width: 500px;
	margin-left: 40px;
}
footer {
	background: #3f791b;
}
#left-footer-block{
	background: #dce8d5;
}
#right-footer-block{
background: #5baf28;
}
#right-footer-block ul{
	display: inline-block;
}
.sitemap-fourth-row li, #down-footer-block li{
	display: inline;
}
#table, #figure, #contacts, #feedback, footer section{
	display: inline-block;
}
#feedback{
	float: right;
	height: 600px;
	width: 500px;
}
#contacts-and-feedback{
	height: 700px;
}
#down-footer-block ul{
	display: inline-block;
}

